.Projects .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin: 50px auto;
  background: rgb(0, 175, 250);
  padding-bottom: 70px;
}

.Projects .container .app {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: grey;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  border-color: antiquewhite;
  border-style: solid;
  box-shadow: 5px 5px 5px black;
}

.Projects .container .app .iconBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(61, 60, 60);
  transition: 0.5s;
  z-index: 1;
}

.Projects .container .app:hover .iconBox {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.Projects .container .app .iconBox .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: rgb(0, 175, 250);
  transition: 0.5s;
}

.Projects .container .app:hover .iconBox .icon {
  font-size: 40px;
}

.Projects .app .description {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.Projects .app .description h3 {
  margin: 0 0 10px;
  padding: 0;
  color: antiquewhite;
  font-size: 24px;
}

.Projects .app .description p {
  margin: 0;
  padding: 0;
  color: antiquewhite;
}

.Projects .container .app:hover .description {
  top: 100px;
}
