.resume {
    margin: 10vh;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.resume img {
    border-radius: 25px;
    margin-right: 10px;
    float: left;
}

body{
    background-color: rgb(0, 175, 250);
  }

  .resume .container{
    height:fit-content;
    padding:10px;
    border-style:solid;
    border-radius: 20px;
    background-color: grey;
    width:40%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    
}
.resume .hospitalityResume{
    color:black;
}
.resume .hospitalityResume h1{
    font-size: 60px;
    margin:0;
    margin-top:10px;
    color:white;
}
.resume .hospitalityResume a:hover{
    color:rgb(0, 175, 250);
}


