.aboutMe {
    /* margin: 10vh; */
    color:antiquewhite;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 100px; */
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
}
.aboutMe .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding-left: 200px;
    margin: 50px auto;
    z-index: 0;
    padding-bottom: 70px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(5, 5, 5, 0.25);
}

.aboutMe img {
    border-radius: 50%;
    border-style:solid;

    margin-right: 10px;
    float: left;
    height:150px;
    width:150px;
    /* padding-bottom: 100px; */
}

.aboutMe .aboutMeContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMe .aboutMeContainer .aboutMeTitle{
    font-size:30px;
    /* background-color:rgb(61, 60, 60); */
    padding:15px;
    /* border-radius:25px; */
    margin-left: 95px;
    color:antiquewhite ;
    margin-top:25px;
    margin-bottom:-25px;
    border-bottom-style: solid;
    border-width: 5px;
    border-bottom-color:#06b304;
    box-shadow: 5px 5px 5px black;
  }

.aboutMe .contactLinks{
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}
.aboutMe .contactLinks .icon a:hover {
 color: #06b304;
  }

.aboutMe .contactLinks a:visited{
    color: white;
}
  @media screen and (max-width: 880px){

    .aboutMe .profile{
        width: 100%;
        margin:0px;
    }
    .aboutMe{
        margin-bottom:100px;
        height:850px;
    }
  }

  @media screen and (min-width: 2650px) {
    .aboutMe .profile{
        width: 30%;
    }
  }

