.home {
    /* margin: 10vh; */
    color:antiquewhite;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: row;
    /* padding-bottom: 100px; */
    justify-content: center;
    align-items: center;
    position: absolute;
    
    z-index: 0;
}

.home img {
    border-radius: 50%;
    border-style:solid;

    margin-right: 10px;
    float: left;
    height:150px;
    width:150px;
    /* padding-bottom: 100px; */
}
.home .profile{
    height:fit-content;
    border-radius: 5px;
    width:50%;
    text-align: center;
    
   
    /* box-shadow: 5px 5px 5px black; */
    
}

.home .contactLinks{
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}
.home .contactLinks .icon a:hover {
 color: #06b304;
  }

.home .contactLinks a:visited{
    color: white;
}
   @media screen and (max-width: 650px){

    .home .profile{
        width:50%;
        margin-left:25%;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background: rgba(5, 5, 5, 0.25);
    }
   
  }
/*
  @media screen and (min-width: 2650px) {
    .home .profile{
        width: 30%;
    }
  } */

