

.contact {
  margin: 10vh;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
 
}

.contact img {
  border-radius: 25px;
  margin-right: 10px;
  float: left;
}
.contact h1 {
  border-bottom-style: solid;
  border-width: 5px;
  border-bottom-color:#06b304;
  padding: 15px;
  margin-bottom: 50px;
}


.contact .contactForm {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(99, 99, 99, 0.65);
  border-radius: 8px;
  padding: 10px;
  width: 60%;
  text-align: center;
  margin-bottom: 10%;
  border-color: antiquewhite;
  border-style: solid;
  box-shadow: 5px 5px 5px black;
}

.contact .contactForm #input {
  height: 60%;
  width: 80%;
  padding: 10px;
  margin-top: 15px;
}

.contact .contactForm #name,
#email {
  margin-top: 15px;
  height: 30px;
  width: 60%;
}
.completeContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: fit-content;
  width: auto;
}
.complete {
  background-color: grey;
  border-radius: 8px;
  padding: 10px;
  width: 60%;
  text-align: center;
}

.contact .contactForm #submitButton {
  background-color: #06b304;
  padding: 5px;
  height: 30px;
  color: antiquewhite;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 10px;
}

.contact .contactForm #submitButton:hover {
  background-color: black;
  color: #06b304;
  cursor: pointer;
}

@media screen and (max-width: 510px ) {

  .contact .contactForm{
    width:100%;
  } 
  
  
}