.contact {
  margin: 10vh;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.contact img {
  border-radius: 25px;
  margin-right: 10px;
  float: left;
}
.contact h1 {
  background-color: rgb(61, 60, 60);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(0, 175, 250);
}


.contact .contactForm {
  background-color: grey;
  border-radius: 8px;
  padding: 10px;
  width: 60%;
  text-align: center;
  margin-bottom: 10%;
  border-color: antiquewhite;
  border-style: solid;
  box-shadow: 5px 5px 5px black;
}

.contact .contactForm #input {
  height: 75px;
  width: 80%;
}

.contact .contactForm #name,
#email {
  height: 20px;
  width: 200px;
}
.completeContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: fit-content;
  width: auto;
}
.complete {
  background-color: grey;
  border-radius: 8px;
  padding: 10px;
  width: 60%;
  text-align: center;
}

.contact .contactForm #submitButton {
  background-color: rgb(0, 175, 250);
  height: 30px;
  color: antiquewhite;
  font-size: 20px;
  border-radius: 8px;
}

.contact .contactForm #submitButton:hover {
  background-color: rgb(61, 60, 60);
  color: rgb(0, 175, 250);
  cursor: pointer;
}

@media screen and (max-width: 510px ) {

  .contact .contactForm{
    width:100%;
  } 
  
  
}