*{
  margin:0;
  padding: 0;
  border:0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;

}

body{
  
  
  height:100vh;
  background-image: url("./img/background_green.png");
  background-repeat: no repeat;
  background-size: cover;
  font-family: 'Rubik', serif;
  
}



.navbar{
  z-index: 1;
  position: absolute;
  width: 120px;
  height: 100%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(10,10,10,.65);
  box-shadow: 0 8px 32px rgb(2,4,24);
  border-right: 2px solid rgba(255,255,255,.09);
  transition: .4s ease-in-out;
}
.navbar.open{
  width: 360px;
}

.navbar .Logo{
  width: 100%;
  height: 240px;
  padding: 40px 0;
  display: grid;
  align-items: center;
  justify-items: center;

}

.navbar .Logo img{
  width: 120px;
 transition: .4s;

}
.navbar.open .Logo img{
  width: 190px;
}
.navbar .Logo h3{
 color: #fff;
 font-size: 36px;
 margin-top: 12px;
 font-variant: small-caps;
 pointer-events: none;
 
  display: none;
 
}

.navbar.open .Logo h3{
  
  transition: .4s;
  transition-delay: .2s ;
  display: contents;
}

.navbar .nav-title{
  color: #dadada;
  margin: 40px 0 18px;
  pointer-events: none;
  opacity: 0;
}
.navbar.open .nav-title{
  opacity: 1;
  transition: .4s;
  transition-delay: .2s ;
}

.navbar nav{
  padding: 0 30px;

}

.navbar nav .nav-item{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  color: #fff;
  transition: .3s;
}

.navbar nav .nav-item i{
  font-size: 26px;

}
.navbar nav .nav-item .navText{
  font-size: 18px;
  margin-left: 8px;
  pointer-events: none;
  opacity: 0;
}
.navbar.open nav .nav-item .navText{
  pointer-events: visible;
  opacity: 1;
  transition: .4s;
  transition-delay: .2s ;
}
.navbar nav .nav-item.active{
  background: #06b304 !important;
}

.navbar nav .nav-item:hover{
  background: rgba(255,255,255,.1)
}

.navbar hr{
  width: 100%;
  height: 2px;
  background: rgba(255,255,255,.1);
  border-radius: 3px;
  margin: 40px 0 50px;
  opacity: 0;
}
.navbar.open hr{
  opacity: 1;
  transition: .4s;
}

.navbar .toggle {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 180px;
  right: -20px;
  font-size: 38px;
  line-height: 50%;
  text-align: center;
  border-style: solid;
  border-right-width: 4px;
  border-radius: 50%;
  border-color: #06b304;
  padding: 2px 0 2px 2px;
  background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(10,10,10, 0.65) 50%
  )
}

.navbar.open .toggle {
  transform: translateY(45px);
}
.navbar .toggle  i{
  transition: .4s linear;
}
.navbar.open .toggle  i{
  transform: rotateY(180deg);
}