nav{
   background: linear-gradient(35deg, black, rgb(4, 4, 96), transparent);
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding:5px;
}

nav h1{
    color:white;
    background-color:rgb(4, 4, 96);
    padding: 5px;
    border-radius: 8px;
    border: 2px solid white;
    

}

nav button{
    margin: 5px;
    background-color: transparent;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;

}

nav button:hover{
    background-color: rgb(4, 4, 96);
    color:white;
    cursor: pointer;
}